{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}



    {% block content %}
        <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{job}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Profile Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>name: <span>{{profile}}</span></li>
                                <li>email: <span>{{profile.user.email}} </span></li>
                                <li>phone: <span>{{profile.phone_number}}</span></li>
                                <li>address: <span>{{profile.city}}</span></li>
                                {% comment %} <li>Job Nature: <span> {{job.job_type}}</span></li> {% endcomment %}
                            </ul>
                                <a class="boxed-btn3 w-100" href="{% url 'accounts:profile_edit' %}">edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
